doctype html
html
  head
    link(rel="stylesheet", href="https://fonts.googleapis.com/earlyaccess/notosansjapanese.css")

    meta(charset='utf-8')
    title
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width')

    link(rel='stylesheet', href='styles/main.css')