include ./_head.pug
  body
    .wrapper
      .topView
          .container
              img.potatop(src="./img/potatop.png", alt="")
      .about
          .container
              h1 About
              h1 MASHPT AWARD 
              h2 ポテターを目指す学生のための日本最大のハックイベント  
              p MASHPT AWARDSは、全国の学生を対象にした、日本最大のポテトハックイベントです。二日間のCookDayでのチーム開発と、そこから選ばれたファイナリストたちが北海道に集い、アワードを賭けた料理を行うAwardDayで構成されています。
              br
              p また、日本最大のじゃがいも産地である北海道の様々なポテトを用意。参加することで、きっとみなさんの新しい未来を切り開く場になることでしょう。
      .date
          .container
              h2 開催日
              p 3月31日　場所：キッチン

      .footer
          .container
              small &copy; hogehoge
      script(src='scripts/main.js')
